{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<!-- <div class="row">
    <div class="col-md-6 offset-md-3"> -->
        <div style="border: 1px solid rgba(128, 128, 128,.3);border-radius: 4px"  class="mx-3 my-0 p-3">

        <h4>Login</h4> <hr>

        <form action="{% url 'user_login' %}" method="post">
            {% csrf_token %} {{form|crispy}}
            <button type="submit" class="btn btn-outline-primary">Login</button><a style="font-size: 13px;" class="mx-3" href="{% url 'reset_password' %}">Forgot Password?</a> <hr>
            <p style="font-size: 13px;">Need an account? <a href="{% url 'register' %}">Sign Up Now</a></p>
        </form>
        </div>
    <!-- </div>
</div> -->
{% endblock content %}